@model EventAtendersChecklist.Models.UM
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "User management system";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    @ViewBag.Info
</h4>

@Html.AntiForgeryToken()
<h3>User List</h3>
<p align="left">@Html.ActionLink("Create user", "Register", "Account", new { @class = "btn btn-success", style = "width:120px; height:35px" })</p>
<table>
    @foreach (var x in @Model.Data)
    {
        if (x.Email != "admin@admin.com")
        {
            if (!User.Identity.GetUserName().Contains(x.UserName))
            {

                Model.Edit = Model.EditUser(x.UserId, x.UserName);
            <tr>
                <th style="padding: 10px; font-size:17px;">
                    @x.UserName
                </th>
                <th style="padding: 10px; font-size:17px;">
                    @x.RoleName
                </th>
                <th>
                    @Html.ActionLink("Edit Role", "UMedit", "Account", new { id = x.UserId }, new { @class = "btn btn-warning", style = "width:120px; height:35px" })
                </th>
                <th>
                    <span style="padding-right: 10px; padding-left: 10px;">|</span>
                </th>
                <th>
                    @Html.ActionLink("Delete", "UMdelete", "Account", new { id = x.UserId }, new { @class = "btn btn-danger", style = "width:120px; height:35px" })
                </th>
            </tr>
            }
        }
    }

</table>



