
@{
    ViewBag.Title = "Remove user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h3><b> @ViewBag.UserName </b> (@ViewBag.RoleName)</h3>

<h4>Do you realy want to delete this user??</h4>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Delete", "UMdeleteUser", "Account", new { user = @ViewBag.UserId }, new { @class = "btn btn-success", style = "width:120px; height:35px" }) |
         @Html.ActionLink("Cancel", "UM", "Account", new { @class = "btn btn-danger", style = "width:120px; height:35px" })
    </div>
}

