@{
    ViewBag.Title = "User Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h3><b> @ViewBag.UserName </b> (@ViewBag.RoleName)</h3>
<br />
<br />
<h4>What role should this user has?</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("HR", "UMeditrole", "Account", new { rola = "HR", user = @ViewBag.UserId }, new { @class = "btn btn-success", style = "width:120px; height:35px" }) |
        @Html.ActionLink("TL", "UMeditrole", "Account", new { rola = "TL", user = @ViewBag.UserId }, new { @class = "btn btn-success", style = "width:120px; height:35px" }) |
        @Html.ActionLink("Cancel", "UM", "Account", new { @class = "btn btn-danger", style = "width:120px; height:35px" })
    </div>
}
