@model IEnumerable<EventAtendersChecklist.Models.Employee>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success", style = "width:120px; height:35px" })
    @Html.ActionLink("Delete All", "DeleteAll", null, new { @class = "btn btn-danger", style = "width:120px; height:35px" })
</p>

<table class="table">
    <tr>
        <th style="font-size:17px">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th style="font-size:17px">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th style="font-size:17px">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td style="font-size:17px">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td style="font-size:17px">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td style="font-size:17px">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning", style = "width:120px; height:35px" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", style = "width:120px; height:35px" })
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
        $(document).ready(function () {
            $("#filter").keyup(function (e) {
                if (e.keyCode == 13) {
                    var filter = $(this).val(), count = 0;
                    $(".Search").each(function () {
                        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                            $(this).hide();
                        } else {
                            $(this).show();
                            count++;
                        }
                    });
                }
            });
        });
</script>