@model EventAtendersChecklist.ModelsView.ListOfAttendeesWithActions

@{
    ViewBag.Title = "Show list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Show event list</h4>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("HR"))
        {
            <p>
                @Html.ActionLink("Add New Attendee", "AddToEvent", "Employees", new { id = Model.EventId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Add New Action", "AddActionToEvent", "ActionDictionaries", new { id = Model.EventId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Import from excel", "ImportExcelFile", "Events", new { id = Model.EventId }, new { @class = "btn btn-success" })
                @if (Model != null)
                {
                    @Html.ActionLink("Export to excel", "ExportToExcel", "Events", new { id = Model.EventId }, new { @class = "btn btn-primary pull-right" })
                }
            </p>
        }
    }
</div>
<div id="partialContent">
    @Html.Action("GetEventGrid", "Events")
</div>

<p>
   @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>

<input type="hidden" id="hiddenEmployeeId" />
<input type="hidden" id="hiddenEventId" />

<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-header">Delete Attendee</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure? You want to delete this.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancle</a>
                <a href="#" class="btn btn-danger" onclick="DeleteEmployee()">Delete</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var notification = $.connection.signalRHub;

            // Create a function that the hub can call to broadcast messages.
            notification.client.notifyChanges = function () {
                getEvents();
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                getEvents();
            }).fail(function (e) {
            });
        });


        function getEvents() {
            $.ajax({
                url: '/Events/GetEventGrid',
                cache: false,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                $("#partialContent").empty().append(result);
            }).error(function () {

            });
        }



    </script>
}