@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        @if (User.IsInRole("HR"))
        {
        <li style="font-size:20px">@Html.ActionLink("Events", "Index", "Events")</li>
        <li style="font-size:20px">@Html.ActionLink("History", "History", "Events")</li>
        <li style="font-size:20px">@Html.ActionLink("Attendees", "Index", "Employees")</li>
        <li style="font-size:20px">@Html.ActionLink("Actions", "Index", "ActionDictionaries")</li>
        }
        else
        {
            <li style="font-size:20px">@Html.ActionLink("Events", "Index", "Events")</li>
        }
    </ul>
    @Html.Partial("_LoginPartial")
}
else
{
    @Html.Partial("_LoginPartial")
}
