@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Import event", "Index", "Event")</li>
        <li>@Html.ActionLink("Export Event", "Export", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")
}
else
{
    @Html.Partial("_LoginPartial")
}
